body{
    font-family: 'Russo One', sans-serif;
}
#headerPanel{
    background:url('../img/bkg.jpg') center fixed no-repeat;
    -webkit-background-size:cover;
    -o-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    color:white;
}

#guildProgression{
    background:url('../img/bkg.jpg') center fixed no-repeat;
    -webkit-background-size:cover;
    -o-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    color:white;
    text-shadow: 2px 2px 4px #000000;
}

.carousel-item img{
    box-shadow: 10px 10px 8px #888888;
}